#t2
{
	width: 1100px;
	height:490px;
	padding-top: 130px;
	padding-left: 700px;
}
#t1
{
	float: right;
	padding-top: 20px;
}
#wrapper{
	width: 1338px;
	margin:0px auto;
}
#header
{
	width:100%;
	height:100px;
	background-image:url(Untitled.png);
}
.c1
{
	color: white;
	font-size:15px;
	font-family: "arial black";
}

#content
{
	width: 100%;
	height: 452px;
	background-image:url(Untitled1.png);
	background-repeat: no-repeat;

}
.c2
{
	color: black;
	font-size:20px;
	font-family: "arial black";
}
.c3
{
	color: black;
	font-size:15px;
	font-family: "geogia";
}
